@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  --dark: #085a5b;
  --middle: #098e8f;
  --light: #e5e5e5;
  --complementaire: #f58a22;
  background-color: var(--light);
  color: var(--middle);
  font-family: "Raleway";
}

/* Header */

#header {
  height: 50px;
  background-color: var(--middle);
  color: white;
  border-bottom: solid var(--light) 1px;
}

#header img {
  height: 40px;
  width: auto;
  margin: 5px;
}

h1 {
  text-align: center;
}

h1 > span {
  font-size: small;
}

h2 {
  text-align: center;
}

/* Auth */

.auth-card {
  position: relative;
  border: var(--middle) 1px solid;
  border-radius: 10px;
  text-align: center;
  height: 260px;
  width: 400px;
  padding: 20px;
  color: white;
  background-color: var(--middle);
}

.auth-card ul {
  text-align: center;
}

#creation h1 {
  margin-top: 20px;
}

#creation button {
  position: absolute;
  bottom: 40px;
  transform: translate(-50%, 0);
}

#creation button:hover {
  background-color: white;
  color: var(--middle);
  box-shadow: 0px 0px 10px white;
}

#creation button:focus {
  outline: 1px dotted;
}

.firebaseui-tos.firebaseui-tospp-full-message {
  color: white;
}

.firebaseui-tos.firebaseui-tospp-full-message a {
  color: white;
  text-decoration: underline;
}

/* Main */

#main {
  height: calc(100% - 50px);
  justify-content: space-evenly;
}

#main #firebaseui-auth-container {
  margin-top: auto;
  margin-bottom: auto;
}

/* Sidebar */

#sidebar {
  /* position: fixed; */
}

#sidebar li {
  /* background-color: white; */

  font-size: 26px;
  border-radius: 10px;
  border: solid var(--light) 1px;
  margin-top: 10px;
  cursor: pointer;

  transition-duration: 0.5s;
  transition-property: color, background-color;
  transition-timing-function: ease-out;
}

#sidebar li.selected {
  color: white;
  background-color: var(--middle);
}

#sidebar li:hover:not(.selected) {
  background-color: white;
  border: solid var(--middle) 1px;
}

li > svg,
li > img {
  width: 30px;
  height: 30px;
  vertical-align: text-top;
  margin-right: 10px;
}

li > img {
  border-radius: 50%;
}

/* Middle */

#middle {
  border-left: solid var(--middle) 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  overflow: auto;
}

/* Sidebar

#settings {
  border-left: solid var(--middle) 1px;
} */

/* Folders */

.center {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.validButton {
  padding: 0.375rem 0.75rem;
  background-color: white;
  color: var(--middle);
  border: solid var(--middle) 1px;
  border-radius: 5px;

  transition-duration: 0.5s;
  transition-property: color, background-color;
  transition-timing-function: ease-out;
}

.validButton:hover {
  background-color: var(--middle);
  color: white;
}

.cancelButton {
  padding: 0.375rem 0.75rem;
  background-color: white;
  color: red;
  border: solid red 1px;
  border-radius: 5px;

  transition-duration: 0.5s;
  transition-property: color, background-color;
  transition-timing-function: ease-out;
}

.cancelButton:hover {
  background-color: red;
  color: white;
}

.modal h5 {
  margin-left: 5%;
  margin-top: 10px;
}

.modal input,
.modal select {
  width: 80%;
  margin-left: 10%;
}

#alertEmail {
  width: 80%;
  margin-left: 10%;
  color: red;
}

.folder,
.file,
.contact {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 5px;
  border: var(--middle) solid 1px;
  border-radius: 10px;
  background-color: white;
}

.folder span {
  text-align: right;
  padding-left: 20px;
}

.title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 15px;
}

.title span {
  font-size: medium;
  font-weight: normal;
}

.folderTask {
  border: 1px solid var(--middle);
  border-radius: 10px;
  width: 90%;
  display: inline-block;

  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  margin-bottom: 10px;
}

.taskTitle {
  text-align: center;
}

.taskProgress {
  width: 90%;
  margin: 10px 5% 10px 5%;
}

.taskProgress::-webkit-meter-optimum-value {
  background: var(--middle);
}

.folderStatus,
.folderDate,
.folderResponsable {
  margin-left: 5%;
}

.folderButton {
  /* float: right; */
  position: absolute;
  right: 20px;
  bottom: 0;
}

#avancee {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: var(--middle) solid 1px;
  border-radius: 10px;
  background-color: white;
}

#tasks {
  /* display: block; */
  text-align: justify;
  /* width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 40px; */
}

#tasks:after {
  display: inline-block;
  width: 90%;
  content: "";
  /* vertical-align: top; */
}

.task {
  /* position: relative; */
  display: inline-block;
  border: solid 1px var(--middle);
  border-radius: 10px;
  padding: 5px;
  /* transform: translateX(-50%); */
  vertical-align: middle;
}

.task.complete {
  background-color: var(--middle);
  color: var(--light);
}

/* Files */

.buttons {
  text-align: center;
  justify-content: space-around;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.buttons button {
  margin-top: 10px;
  width: 200 px;
}

/* Contacts */

/* Profile */

.userPicture {
  width: 50px;
  height: 50px;
}

ul {
  text-align: justify;
  width: 95%;
}
ul:after {
  display: inline-block;
  width: 95%;
  content: "";
}
ul li {
  display: inline-block;
}
